@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-raleway);
  --font-heading: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
}

.perspective-1200 {
  perspective: 1200px;
}

.preserve-3d {
  transform-style: preserve-3d;
  
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
